@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /** Colors **/
    --HEADING-COLOR : #0F172A;
    --BODY-TEXT-COLOR: #D3D3D3;
    --BUTTON-COLOR: #2563EB;
    --ACCENT-COLOR: #22C55E;
    --ADDIDTIONAL-COLOR: #FFFFFF;

    /** Fonts **/
    --HEADING-FONT: "Outfit, sans-serif";
    --BODY-FONT: "Inter, sans-serif";
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--BODY-FONT);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.3;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.container {
    display: flex;
    min-height: 100vh;
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

h2 {
    font-family: var(--HEADING-FONT);
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--HEADING-COLOR);
}

/** Header Section **/
 #header {
    position: sticky;
     background-color: rgba(11, 22, 49, 0.893);

    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 1000;
    overflow: hidden;
}

#header .header {
    min-height: 8vh;
}

#header .navbar {
    display: flex;
    align-items: center;
    justify-items: space-between;
    width: 100%;
    height: 100%;
    padding: 0 10px;
} 

 #header .navlist ul {
    list-style-type: none;
    position: absolute;
    background-color: #000000;
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    flex-direction: column;
}

#header .navlist ul.active {
    left: 0;
}

#header .navlist ul a {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    color: white;
    text-transform: capitalize;
    font-family: var(--HEADING-FONT);
    padding: 5px;
    display: block;
} 

#header .navlist ul a:hover {
    color: var(--BUTTON-COLOR);
}

#header .mobilemenu {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    cursor: pointer;
    margin: 10px;
}

#header .mobilemenu .box {
height: 2px;
width: 30px;
position: relative;
background-color: white;
z-index: -1;
}

#header .mobilemenu .box::after, 
#header .mobilemenu .box::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: 0.3s ease;
    transition-property: top, bottom;
}

#header .mobilemenu .box::after {
    top: 8px;
}

#header .mobilemenu .box::before {
    bottom: 8px;
}

#header .mobilemenu.active .box {
    background-color: transparent;
}

#header .mobilemenu.active .box::after {
    top: 0;
    transform: rotate(45deg);
    
}

#header .mobilemenu.active .box::before {
    bottom: 0;
    transform: rotate(-45deg);
    
}

#header .cta a {
    font-family: var(--HEADING-FONT);
    color: white;
    border: 3px solid var(--BUTTON-COLOR);
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1.5rem;
    background-color: var(--BUTTON-COLOR);
    font-weight: 500;
    display: none;
}

#header .cta a:hover {
    box-shadow: 5px 0px 5px 3px var(--BUTTON-COLOR);
}
/** End of Header Section **/


/** Hero Section **/
#hero {
    background-image: url(/assets/full-shot-man-doing.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

#hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.75;
    z-index: -1;
}

#hero .herocontent {
    text-align: center;
    color: var(--BODY-TEXT-COLOR);
    padding: 1em;
    font-size: 1rem;
}

#hero .herocontent h1 {
    font-family: var(--HEADING-FONT);
    font-size: 2rem;
    padding-bottom: 0.2em;
    line-height: 1;
    font-weight: 700;
}

#hero .herocontent p {
    padding-bottom: 2em;
}

#hero .herocontent a {
    font-family: var(--HEADING-FONT);
    background-color: var(--BUTTON-COLOR);
    color: var(--BODY-TEXT-COLOR);
    padding: 1em 2em;
    border-radius: 20px;
    font-weight: 700;
}

#hero .herocontent a:hover {
    background-color: var(--ACCENT-COLOR);
}
/** End of Hero Section **/

/** Problem Section **/
#problem .problems {
    display: flex;
    flex-flow: column;
    padding: 20px;
     grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-template-rows: auto; 
    gap: 20px; 
     margin-top: 20px;
     padding-bottom: 60px;
}

#problem .propcard {
    text-align: left;
    font-family: var(--BODY-FONT);
    font-size: 1rem;
}

#problem .propcard p {
    font-weight: 500;
    color: rgb(49, 48, 48);
    font-size: 0.9rem;
    padding-top: 0.5em;
    line-height: 1.5;
    padding-bottom: 0.5em;
}

#problem .propcard ul {
    list-style-type: none;
     line-height: 2;
     font-size: 1rem;
}

#problem .propcard ul li {
 background-image: url(/assets/check-circle.png);
 background-size: 20px 20px; 
 background-repeat: no-repeat;
 background-position: left center;
 padding-left: 30px;
  color: rgb(49, 48, 48);
}

#problem .propcard img {
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 2px 0px 10px 10px var(--BODY-TEXT-COLOR);
    margin-top: 15px;
}
/** End of Problem Section **/

/** Solution Section **/

#solution .solutions {
    display: flex;
    flex-flow: column;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-columns: 1fr;
    gap: 20px;
    margin-top: -30px;
}

#solution .solutioncard img {
    border-radius: 20px;
    border: 2px solid black;
     /* margin-top: 5px; */
}

#solution .solutioncard p {
     font-weight: 500;
    color: rgb(49, 48, 48);
    font-size: 0.9rem;
    padding-top: 0.5em;
    line-height: 1.5;
    padding-bottom: 0.5em;
}

#solution .solutioncard ul {
    list-style-type: none;
    line-height: 2;
    font-size: 1rem;
    color: rgb(49, 48, 48);
}

#solution .solutioncard .automate {
    background-image: url(/assets/process_automation.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
}

#solution .solutioncard .bookings {
    background-image: url(/assets/calendar-lines-bookings.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
}


#solution .solutioncard .track {
    background-image: url(/assets/magnet-user_engagement.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
}
/** End of Solution Section **/

/** Features Section **/
#features {
    background-color: #e6f1ff;
    padding: 20px;
}

#features .featuresblock {
    padding-bottom: 30px;
}

#features .featurehead {
    padding: 20px;
    text-align: center;
    padding-bottom: 20px;
}

#features .featurehead p {
    font-family: var(--BODY-FONT);
    font-size: 1rem;
    font-weight: 400;
    color: black;
}

#features .featurelist {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-top: 30px;
    gap: 20px;
}

#features .featurecard {
    background-image: url(/assets/low-angle\ having\ a\ membership\ in\ gym.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    z-index: 1;

}

#features .featurecard:nth-child(2) {
    background-image: url(/assets/athletic-man-practicing\ for\ bookings.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    z-index: 1;
}

#features .featurecard:last-child {
    background-image: url(/assets/two-athletic-smiling\ for\ client\ tracking.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    z-index: 1;
}

#features .featurecard::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: -1;
    opacity: 0.7;
    
}

#features .featurecard img {
    width: 20px;
    height: 20px;
}

#features .featurecard h3 {
    color: white;
    font-family: var(--HEADING-FONT);
    font-weight: 600;
    font-size: 1.56rem;
}

#features .featurecard p {
    color: white;
    font-family: var(--BODY-FONT);
    font-size: 1rem;
    font-weight: 400;
}

#features .featurecard .card {
    color: white;
     background-color: var(--BUTTON-COLOR);
    font-family: var(--HEADING-FONT);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 15px;
    border: none;
}

#features .featurecard .card:hover {
    background-color: transparent;
    color: white;
    border: 2px solid black;
    box-shadow: 0px 2px 3px 3px var(--ACCENT-COLOR);
}
/** End of Features Section **/

/** How it's Work Section **/

#howitwork .howitsworks {
    padding: 20px;
    padding-top: 30px;
    margin-bottom: 30px;
}

#howitwork .howitsworks h2 {
    text-align: center;
    padding: 30px;
}

#howitwork .workitem {
    display: flex;
    gap: 14px;
    align-items: flex-start;
    margin-bottom: 10px;
}

#howitwork .number {
    width: 30px;
    height: 30px;
    min-width: 30px;
    border: 2px solid blue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: black;
    font-size: 1.2rem;
}


#howitwork .text h3 {
    font-family: var(--HEADING-FONT);
    font-size: 500;
    font-size: 1.2rem;
}

#howitwork .text p {
    font-family: var(--BODY-FONT);
    font-size: 0.9rem;
    font-weight: 400;
    /* padding-left: 3px; */
}

#howitwork .workimage img {
    border-radius: 20px;
    margin-top: 30px;
}
/** End of How it's Work Section **/

/** Why Choose Us Section **/
#whychoose {
    background-color: #f2f2f2;
    padding: 20px;
}

#whychoose .whyblock {
    padding-bottom: 30px;
}

#whychoose .whyhead {
    padding: 20px;
    text-align: center;
    padding-bottom: 20px;
}

#whychoose .whyhead p {
    font-family: var(--BODY-FONT);
    font-size: 0.9rem;
    font-weight: 400;
    padding-top: 10px;
    color: black;
}

#whychoose .whylist {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-top: 30px;
    gap: 20px;
}

#whychoose .whycard {
    background-image: url(/assets/handsome-man-working-laptop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    z-index: 1;

}

#whychoose .whycard:nth-child(2) {
    background-image: url(/assets/lisa-marie-theck-Jmt0oJmJSnbetter\ bookings.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    z-index: 1;
}

#whychoose .whycard:last-child {
    background-image: url(/assets/athletic-person-exercising-better\ experience.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    z-index: 1;
}

#whychoose .whycard::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    z-index: -1;
    opacity: 0.7;
    
}

#whychoose .whycard img {
    width: 20px;
    height: 20px;
}

#whychoose .whycard h3 {
    color: white;
    font-family: var(--HEADING-FONT);
    font-weight: 600;
    font-size: 1.56rem;
}

#whychoose .whycard p {
    color: white;
    font-family: var(--BODY-FONT);
    font-size: 1rem;
    font-weight: 400;
}

#whychoose .whycard .card {
    color: white;
     background-color: var(--BUTTON-COLOR);
    font-family: var(--HEADING-FONT);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 20px;
    margin-top: 15px;
    border: none;
}

#whychoose .whycard .card:hover {
    background-color: transparent;
    color: white;
    border: 2px solid black;
    box-shadow: 0px 2px 3px 3px var(--ACCENT-COLOR);
}
/** End of Why Choose Us Section **/

/** Trust Section **/
#trust .trusts {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* height: 100vh; */
}


#trust .trustblock h2 {
    text-align: center;
    padding-top: 20px;
    line-height: 1.2;
    margin-bottom: 30px;
}

#trust .trustitem {
    background-color: whitesmoke;
    border-radius: 20px;
    border: 2px solid black;
    padding: 20px;
    box-shadow: 2px 0px 5px var(--HEADING-COLOR);
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2rem;
}

#trust .rating {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 10px;
    margin-bottom: 5px;
}

#trust .star {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    column-gap: 5px;
}

#trust .star {
    font-size: 1.8rem;
    color: red;
}

#trust .trustitem p {
    text-align: left;
    font-family: var(--BODY-FONT);
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    padding-bottom: 30px;
}

#trust .client {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

#trust .client img {
    width: 50px;
    border-radius: 50%;
}

#trust .clientinfo {
    text-align: left;
    padding-left: 10px;
}

#trust .clientinfo h3 {
    font-family: var(--HEADING-FONT);
    font-size: 1.3rem;
    font-weight: 600;
}

#trust .clientinfo p {
    font-style: normal;
}
/** End of Trust Section **/


/** Pricing Section **/
 #pricing .pricingblock {
    padding: 20px;
 }

 #pricing .pricingblock h2 {
    text-align: center;
    font-weight: 700;
    padding: 1rem;
    margin-top: 10px; }

 #pricing .pricingblock p {
    font-size: 1rem;
    font-family: var(--BODY-FONT);
    color: black;
    font-weight: 300;
    text-align: center;
 }

 #pricing .pricingplan {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-columns: 1fr;
    gap: 30px;
    margin-top: 40px;
 }

 #pricing .priceitem {
    border: 2px solid rgb(179, 174, 174);
    padding: 20px;
    border-radius: 20px;
 }

 #pricing .priceitem h2 {
    margin-top: -10px;
    font-size: 1.2rem;
    font-weight: 600;
 }

 #pricing .priceitem h3 {
    text-align: center;
    margin-top: -20px;
    font-size: 2.3rem;
    font-family: var(--HEADING-FONT);
    font-weight: 900;
    color: var(--BUTTON-COLOR);
 }

#pricing .priceitem ul {
        list-style-type: none;
        line-height: 2;
         font-family: var(--BODY-FONT);
        font-weight: 400;
        font-size: 1rem;
}

#pricing .priceitem ul {
    margin-top: 10px;
}

#pricing .priceitem ul li {
    background-image: url(/assets/list-pricing-icon.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
}

#pricing .priceitem button {
    font-family: var(--HEADING-FONT);
    color: white;
    padding: 10px 70px;
    margin-top: 10px;
    background-color: var(--BUTTON-COLOR);
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    text-transform: capitalize;
    box-shadow: 2px 0px 2px var(--BUTTON-COLOR);

}

#pricing .priceitem button:hover {
    background-color: transparent;
    color: var(--BUTTON-COLOR);
    border: 2px solid black;
}
/** End of Pricing Section **/

/** Final CTA Section **/
#finalcta .final__ctablock {
    border: 2px solid lightgray;
    border-radius: 20px;
    margin: 10px;
}

#finalcta .finalcta__text {
    padding: 20px;
}

#finalcta .finalcta__text h2 {
  font-size: 2rem;
  line-height: 1;
  padding-bottom: 20px;
} 

#finalcta .finalcta__text p {
    font-weight: 300;
    font-size: 1rem;
    font-family: var(--BODY-FONT);
    padding-bottom: 10px;
    width: 85%;
}

#finalcta .form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}

#finalcta .form input {
    font-family: var(--BODY-FONT);
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid whitesmoke;
    padding-bottom: 10px;
    width: 90%;
}

#finalcta .form button {
     color: white;
     background-color: var(--BUTTON-COLOR);
     border: none;
     border-radius: 10px;
     padding: 10px 90px;
     font-family: var(--HEADING-FONT);
     font-size: 1rem;
     font-weight: 600;
}

#finalcta .finalcta__text .terms {
    font-size: 0.6rem;
    padding-top: 10px;
}

#finalcta .finalcta__image img {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
/** End of Final CTA Section **/

/** Footer Section **/
#footer {
    background-color: black;
    padding:30px;
}

#footer .footbrand {
    text-align: center;
    padding-bottom: 20px;
    color: rgb(184, 180, 180);
}

#footer .footlink h2 {
    text-align: center;
    font-weight: 500;
    font-family: var(--HEADING-FONT);
    font-size: 1.5rem;
    color: white;
    text-decoration: underline;
}

#footer .footlink a {
    display: block;
    line-height: 1.5;
    color: rgb(184, 180, 180);
    text-align: center;
    font-size: 1.3rem;
}

#footer .reachout h2 {
    text-align: center;
    font-weight: 500;
    font-family: var(--HEADING-FONT);
    font-size: 1.5rem;
    color: white;
    padding-top: 20px;
}

#footer .reachout p {
    text-align: center;
    line-height: 1.5;
    font-family: var(--BODY-FONT);
    color: var(--BODY-TEXT-COLOR);
    font-size: 1.2rem;
    color: rgb(184, 180, 180);
}

#footer .footercontent .copy {
    text-align: center;
    font-family: var(--BODY-FONT);
    padding-top: 40px;
    color: white;
}
/** End of Footer Section **/

/** Mobile Landscape **/
@media screen and (min-width: 480px) {
   /** Hero Section **/
    #hero .herocontent h1 {
        font-size: 2.8rem;
    }

    #hero .herocontent p {
        font-size: 1.3rem;
        padding-left: 20px;
        padding-right: 20px;
    }

    #hero .herocontent a {
        font-size: 1.3rem;
        border-radius: 30px;
    }
    /** End of Hero Section **/

    /** Problem Section **/
    #problem .propcard h2 {
        font-size: 2.3rem;
        padding-right: 100px;
    }

    #problem .propcard p {
        font-size: 1.1rem;
    }

    #problem .propcard ul {
        font-size: 1.12rem;
    }
    /** End of Problem Section **/

    /** Solution Section **/
    #solution .solutioncard h2 {
        font-size: 2.3rem;
        padding-right: 100px;
    }

    #solution .solutioncard p {
        font-size: 1.15rem;
    }

    #solution .solutioncard ul {
        font-size: 1.12rem;
    }
    /** End of Solution Section **/
    
    /** Features Section **/
    #features .featurehead h2 {
        font-size: 2.3rem;
        width: 90%;
        margin: 0 auto;
    }

    #features .featurehead p {
        font-size: 1.2rem;
        width: 90%;
        margin: 0 auto;
    }

    #features .featurecard {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    #features .featurecard h3 {
        font-size: 1.9rem;
    }

    #features .featurecard p {
        font-size: 1.15rem;
    }

    #features .featurecard .card {
        font-size: 1.15rem;
    }
    /** End of Features Section **/

    /** How it work Section **/
    #howitwork .howitsworks h2 {
        font-size: 2.3rem;
    }
    #howitwork .workitem .number {
        font-size: 1.4rem;
    }
    #howitwork .workitem h3 {
        font-size: 1.4rem;
    }

    #howitwork .workitem p {
        font-size: 1rem;
    }
    /** End of How it work Section **/

    /** Why choose us **/
    #whychoose .whyhead h2 {
        font-size: 2.3rem;
    }

    #whychoose .whyhead p {
        font-size: 1.2rem;
    }

    #whychoose .whycard {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    #whychoose .whycard h3 {
        font-size: 1.9rem;
        width: 90%;
    }

    #whychoose .whycard p {
        font-size: 1.15rem;
        width: 80%;
    }

    #whychoose .whycard .card {
        font-size: 1.15rem;
    }
    /** End of Why choose us **/

    /** Trust Section **/
    #trust .trustblock h2 {
        font-size: 2.3rem;
        width: 80%;
        margin: 0 auto;
    }

    #trust .testimonails {
        margin-top: 40px;
        margin-left: 20px;
        margin-right: 20px;
    }
    /** End of Trust Section **/

    /** Pricing Section **/
    #pricing .pricingblock h2 {
         font-size: 2.3rem;
    } 
    #pricing .pricingblock p {
        font-size: 1.2rem;
    }
    /** End of Pricing Section **/

    /** Cta Section **/
    #finalcta .final__ctablock {
        margin: 40px;
    }

    #finalcta .finalcta__text h2 {
        font-size: 2.3rem;
    }
    #finalcta .finalcta__text p {
        font-size: 1.1rem;
    }

    #finalcta .form button {
        width: 90%;
        font-size: 1.1rem;
    }

    #finalcta .finalcta__text .terms {
        font-size: 1.2rem;
    }
    /** End of Cta Section **/

    /** Footer Section **/ 
    #footer .footbrand img {
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }

    #footer .footbrand p {
        font-size: 1.2rem;
        width: 70%;
        margin: 0 auto;
    }

    #footer .reachout p {
        font-size: 1.2rem;
        width: 50%;
        margin: 0 auto;
    }
    /** End of Footer Section **/ 
}
/** End of Mobile Landscape **/

/** Tablet Device **/
@media screen and (min-width: 768px) {
    .container {
        max-width: 1200px;
    }
    /** Header Section **/
    
    #header .navbar .brandlogo {
        width: 100%;
    }
    #header .brandlogo img {
        width: 50%;
    }
    /** End of Header Section **/

    /** Hero Section **/

    #hero .herocontent h1 {
        font-size: 3rem;
    }

    #hero .herocontent p {
        font-size: 1.2rem;
        width: 80%;
        margin: 0 auto;
    }
    /** End of Hero Section **/

    /** Problem Section **/
    #problem .problems {
        /* margin-top: -100px; */
        display: flex;
        flex-direction: row;
         justify-content: center;
        align-items: center;
        column-gap: 20px;
    }

    #problem .propcard img {
        width: 100%;
    }

    #problem .propcard {
        width: 100%;
    }

    #problem .propcard h2 {
        font-size: 1.75rem
    }

    #problem .propcard p {
        font-size: 1rem;
        width: 89%;
    }

    #problem .propcard ul {
        font-size: 1rem;
    }
    /** End of Problem Section **/

    /** Solution Section **/
    #solution .solutions {
        /* margin-top: -500px; */
        display: flex;
        flex-direction: row;
         justify-content: center;
        align-items: center;
        column-gap: 30px;
    }

    #solution .solutioncard img {
        width: 100%;
    }

    #solution .solutioncard {
        width: 100%;
    }

    #solution .solutioncard h2 {
        font-size: 1.7rem
    }

    #solution .solutioncard p {
        font-size: 1rem;
        width: 89%;
    }

    #solution .solutioncard ul {
        font-size: 1rem;
    }
    /** End of Solution Section **/

    /** Features Section **/
    #features .featurehead h2 {
        font-size: 2.5rem;
        width: 70%;
    }

    #features .featurehead p {
        width: 80%;
    }

    #features .featurecard {
        margin-left: -20px;   
        margin-right: -20px;
    }
    /** End of Features Section **/

    /** why choose it **/
    #whychoose .whyhead h2 {
        font-size: 2.5rem;
    }

    #whychoose .whycard {
        margin-left: -100px;   
        margin-right: -100px;
    }
    /** End of why choose it **/

    /** Trust Section **/
    #trust .trustblock h2 {
        font-size: 2.35rem;
    }

    #trust .testi__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        grid-template-rows: auto;
        grid-auto-columns: 1fr;
    }

    #trust .trustitem {
        box-shadow: 2px 0px 2px var(--HEADING-COLOR);
    }
    /** End of Trust Section **/

    /** Pricing Section **/
    #pricing .pricingblock h2 {
        font-size: 2.5rem;
    }

    #pricing .pricingblock p {
        font-size: 1.2rem;
    }

    #pricing .pricingplan {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-auto-columns: 1fr;
        gap: 20px;
    }
    /** End of Pricing Section **/

    /** CTa Section **/
    #finalcta .final__ctablock h2 {
        font-size: 2.5rem;
    }

    #finalcta .final__ctablock p {
        font-size: 1.3rem;
    }

    #finalcta .form {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        column-gap: 20px;
        flex-direction: row;
    }

    #finalcta .form input {
        width: 50%;
    }

    #finalcta .form button {
        width: 20%;
        font-size: 0.9rem;
        padding-left: 5px;
        padding-right: 0;
    }

    #finalcta .finalcta__text .terms {
        font-size: 1rem;
    }

    /** End of CTa Section **/

}
/** End of Tablet Device **/

/** Desktop Device **/
@media screen and (min-width: 1200px) {

    /* Header Section **/

    #header {
            background-color: rgba(11, 22, 49, 0.893);

    }
  #header .brandlogo img {
    width: 30%;
  } 
    #header .mobilemenu {
        display: none;
    }
    
    #header .navlist {
        width: 100%;
        padding: 20px;
    }
    #header .navlist ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }

    #header .navlist ul li {
        display: inline-block;
    }

    #header .navlist ul li a {
        font-size: 1.7rem;
    }

    /* End of Header Section **/

    /** Hero Section **/
    #hero .herocontent h1 {
        font-size: 4rem;
        width: 80%;
        margin: 0 auto;
    }

    #hero .herocontent p {
        font-size: 1.8rem;
    }

    #hero .herocontent a {
        font-size: 1.5rem;
        margin-top: -20px;
    }
    /** End of Hero Section **/

    /** Problem Section **/
    #problem .problems {
        margin-left: 40px;
        gap: 10px;
        margin-right: 40px;
    }

    #problem .propcard h2 {
        font-size: 2.5rem;
        width: 90%;
    }

    #problem .propcard p {
        font-size: 1.5rem;
    }

    #problem .propcard ul {
        font-size: 1.3rem;
    }
    /** End of Problem Section **/

    /** Solution Section **/
    #solution .solutions {
        margin-left: 40px;
        gap: 50px;
    }

    #solution .solutioncard h2 {
        font-size: 2.5rem;
        width: 90%;
    }

    #solution .solutioncard p {
        font-size: 1.5rem;
    }

    #solution .solutioncard ul {
        font-size: 1.3rem;
    }
    /** End of Solution Section **/

    /** Features Section **/

    #features .featurehead h2 {
            font-size: 2.9rem;
            margin: 0 auto;
            width: 70%;
        }

    #features .featurehead p {
            width: 100%
        }

    #features .featurelist {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        margin-top: 20px;
        gap: 60px;
        margin: 30px;
}

    #features .featurecard h3 {
        font-size: 1.9rem;
        width: 70%;
    }

    #features .featurecard p {
        font-size: 1.3rem;   
    }
    /** End of Features Section **/

    /** How it works Section **/
    #howitwork .howitsworks {
        margin: 50px;
    }
    /** How it works Section  **/

    /** why choose section **/
    
    #whychoose .whyhead h2 {
            font-size: 2.9rem;
        }

    #whychoose .whyhead p {
            font-size: 1.2rem;
        }

    #whychoose .whylist {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        margin-top: 20px;
        gap: 10px;
}

    #whychoose .whycard {
        margin: 20px;
    }

    #whychoose .whycard h3 {
        font-size: 1.9rem;
        width: 70%;
    }

    #whychoose .whycard p {
        font-size: 1.3rem;   
    }
    /** End of why choose section **/

    /** Trust Section **/

     #trust .trustblock h2 {
        font-size: 2.5rem;
    }

    #trust .testi__content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;
        grid-template-rows: auto;
        grid-auto-columns: 1fr;
    }

    #trust .trustitem {
        box-shadow: 2px 0px 2px var(--HEADING-COLOR);
    }
    /** End of Trust Section **/

    /** Pricing Section **/
    #pricing .pricingblock h2 {
        font-size: 2.7rem;
    }

    #pricing .pricingblock p {
        font-size: 1.2rem;
    }

    #pricing .pricingplan {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-auto-columns: 1fr;
        gap: 40px;
}

    /** CTa Section **/
    #finalcta .final__ctablock {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 25px;
    }

    #finalcta .finalcta__image {
        width: 50%;
    }

    #finalcta .finalcta__image img {
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
    }

    #finalcta .finalcta__text {
        padding: 50px;
    }

    #finalcta .finalcta__text h2 {
        font-size: 2.5rem;
        line-height: 1.1;
        width: 80%;
    }
    /** End of CTa Section **/
}
/** End of Desktop Device **/